src/com/reunico/B2B.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://reunico.com" xmlns:tns="https://reunico.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://reunico.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="https://reunico.com">
    <wsdl:documentation>B2B</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://reunico.com/xsd">
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delay" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://reunico.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://reunico.com">
            <xs:import namespace="http://reunico.com/xsd"/>
            <xs:element name="getDelay">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDelayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Customer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDelayRequest">
        <wsdl:part name="parameters" element="ns:getDelay"/>
    </wsdl:message>
    <wsdl:message name="getDelayResponse">
        <wsdl:part name="parameters" element="ns:getDelayResponse"/>
    </wsdl:message>
    <wsdl:portType name="B2BPortType">
        <wsdl:operation name="getDelay">
            <wsdl:input message="tns:getDelayRequest" wsaw:Action="urn:getDelay"/>
            <wsdl:output message="tns:getDelayResponse" wsaw:Action="urn:getDelayResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="B2BSoap11Binding" type="tns:B2BPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDelay">
            <soap:operation soapAction="urn:getDelay" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="B2BSoap12Binding" type="tns:B2BPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDelay">
            <soap12:operation soapAction="urn:getDelay" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="B2BHttpBinding" type="tns:B2BPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDelay">
            <http:operation location="getDelay"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="B2B">
        <wsdl:port name="B2BHttpSoap11Endpoint" binding="tns:B2BSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/B2B.B2BHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="B2BHttpSoap12Endpoint" binding="tns:B2BSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/B2B.B2BHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="B2BHttpEndpoint" binding="tns:B2BHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/B2B.B2BHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
